#a {
  background-color: blue;
}

#a1 {
  background-color: green;
}

#b {
  background-color: orange;
}

#b1 {
  background-color: red;
}

#c {
  background-color: yellow;
}

#c1 {
  background-color: purple;
}

#d {
  background-color: indianred;
}

#d1 {
  background-color: indigo;
}

#e {
  background-color: yellowgreen;
}

#e1 {
  background-color: pink;
}

#f {
  background-color: brown;
}

#f1 {
  background-color: aquamarine;
}

#g {
  background-color: firebrick;
}

#g1 {
  background-color: beige;
}

#h {
  background-color: cadetblue;
}

#h1 {
  background-color: darkgreen;
}

#i {
  background-color: gray;
}

#i1 {
  background-color: hotpink;
}